<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210881557931-gq33uvbunofunhv7gv577nf9nfpq0ld4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210881557931-gq33uvbunofunhv7gv577nf9nfpq0ld4</string>
	<key>API_KEY</key>
	<string>AIzaSyC60QGIO7l9zSjXMA7Y7ttdlae2qZ6XFU0</string>
	<key>GCM_SENDER_ID</key>
	<string>210881557931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cheropproj.rescuereach</string>
	<key>PROJECT_ID</key>
	<string>resreach</string>
	<key>STORAGE_BUCKET</key>
	<string>resreach.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210881557931:ios:d4878ee69f2de2f2a68eee</string>
</dict>
</plist>